body{
	text-align: center;
	background: url("../images/XKRcfhs.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: lightgrey;
	
}
.container{
	
}

h1{
	font-size: 50px;
	text-shadow: 0.1em 0.1em 0.2em magenta;

}

h2{
	text-shadow: 0.1em 0.1em 0.2em black;
}

.a { background: white; }
.a:active { 
    background-color: magenta;
}
.a:hover {font-size: 125%;}

h3{
		text-shadow: 0.1em 0.1em 0.2em black;
}