body{
	text-align: center;
	background: url("../images/XKRcfhs.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: lightgrey;
	
}
.container{
	
}

h1{
	font-size: 50px;
	text-shadow: 0.1em 0.1em 0.2em magenta;

}

h2{
	text-shadow: 0.1em 0.1em 0.2em black;
}

.a { color: #00c; }
.a:visited { magenta; }
.a:focused { magenta; }