body{
	text-align: center;
	background: url("../images/6390-funny-wallpaper-cat.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: white;
	
}
.container{
	
}

h1{
	font-size: 50px;
	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);

}